		<!-- HERO-12
			============================================= -->
			<section id="hero-12" class="bg-02 hero-section division">
				<div class="container">
					<div class="row d-flex align-items-center">


						<!-- HERO TEXT -->
						<div class="col-lg-10 offset-lg-1">
							<div class="hero-12-txt white-color text-center">

								<!-- Title -->
								<h3>Pizza & Burger</h3>
								<h2 class="salmon-color">PizZurGer</h2>

								<!-- Text -->
								

								<!-- Icons List -->
								<div class="hbox-1-wrapper ico-80">
									<div class="row">

										<!-- ABOUT BOX #1 -->
										<div class="col-sm-3">
											<div class="hbox-1 mb-40">

												<!-- Icon -->
												<img
                        class="img-fluid" src="assets/images/burger1.jpg" style="width: 150px;height:150px"  alt="imge">

												<!-- Text -->
												<h5 class="h5-md">Burger Escalope</h5>

											</div>
										</div>

										<!-- ABOUT BOX #2 -->
										<div class="col-sm-3">
											<div class="hbox-1 mb-40">

												<!-- Icon -->
												<img class="img-fluid" src="assets/images/cheeseburger.jpg" style="width: 150px;height:150px"  alt="imge">

												<!-- Text -->
												<h5 class="h5-md">Cheese Burger</h5>

											</div>
										</div>

										<!-- ABOUT BOX #3 -->
										<div class="col-sm-3">
											<div class="hbox-1 mb-40">

												<!-- Icon -->
												<img class="img-fluid" src="assets/images/pizzapep.jpg" style="width: 150px;height:150px" alt="imge">

												<!-- Text -->
												<h5 class="h5-md">Pizza pepperoni</h5>

											</div>
										</div>

										<!-- ABOUT BOX #4 -->
										<div class="col-sm-3">
											<div class="hbox-1 mb-40">

												<!-- Icon -->
												<img class="img-fluid" src="assets/images/pizzafromage.jpg" style="width: 150px;height:150px ;" alt="imge">

												<!-- Text -->
												<h5 class="h5-md">Pizza 4 cheese</h5>

											</div>
										</div>

									</div>
								</div>	<!-- End Icons List -->

							</div>
						</div>	 <!-- END HERO TEXT -->


					</div>	  <!-- End row -->
				</div>	   <!-- End container -->
			</section>	<!-- END HERO-12 -->
