<div class="bg-02 hero-section division" style="height: 10in;">


  <div class="row white-color">

      <div class="col-6 mx-auto white-color">

          <input type="text" [(ngModel)]="article.titre"  placeholder="titre" class="form-control m-2">
          <input type="text" [(ngModel)]="article.description" placeholder="description" class="form-control m-2">
          <input type="text" [(ngModel)]="article.content" placeholder="content" class="form-control m-2">
          <input type="file" [(ngModel)]="article.image" accept="image/*" (change)="selected($event)" placeholder="image" class="form-control m-2">

          <button (click)="update()" class="form-control btn btn-success m-2">update</button>


      </div>


