		<!-- FOOTER-1
			============================================= -->
			<footer id="footer" class="footer division">
				<div class="container">
					<div class="row">


						<!-- FOOTER INFO -->
						<div class="col-md-5 col-lg-4 col-xl-4">
							<div class="footer-info mb-40">

								<!-- Footer Logo -->
								<div class="footer-logo"><img src="assets/images/pizza-burger.png" alt="footer-logo"/></div>

								<!-- Footer Copyright -->
								<p>&copy; 2022 PizZurGer. All Rights Reserved</p>

							</div>
						</div>


						<!-- FOOTER CONTACTS -->
						<div class="col-md-7 col-lg-4 col-xl-5">
							<div class="footer-contacts mb-40">

								<!-- Address -->
								<p class="p-xl mt-10">Tunis</p>
								<p class="p-xl"></p>

								<!-- Contacts -->
								<p class="p-lg foo-email">Email: <a href="mailto:yourdomain@mail.com">ouniskander12@gmail.com</a></p>
                <p class="p-lg foo-email">Email: <a href="mailto:yourdomain@mail.com">ouni.skander@esprit.tn</a></p>
								<p class="p-lg">Call Now: <span class="salmon-color"><a href="tel:123456789">96153820</a></span></p>

							</div>
						</div>


						<!-- FOOTER INSTAGRAM -->
						<div class="col-md-12 col-lg-4 col-xl-3">
							<div class="footer-img mb-40">
              <a href="https://www.instagram.com/">
                <div class="footer-logo" style=" display:flex;align-items:center;">
                  <img src="assets/images/instagram.jpg" class="insta-img" alt="insta-img"/><span style="font-weight: bold;"> Piz_ZurGer</span></div>
                  </a>
								<!-- Images -->


							</div>
						</div>	<!-- END FOOTER IMAGES -->

		 </div>	  <!-- End row -->
				</div>
			</footer>	<!-- END FOOTER-1 -->

